html{background-image: url(images/back.webp);}

body {
    color: rgb(0, 0, 0);
    background-color: #ff0000;
}
ul{background-color: #ecf0f1;}
a {
    display: inline-block; /* Making the link a block element */
    color: #000000; /* Bright blue text color */
    text-decoration: none; /* Removing the underline */
    padding: 5px 10px; /* Adding some space inside the link */
    border: 1px solid #000000; /* Bright blue border color */
    transition: all 0.3s ease; /* Adding a transition */
}

/* Conditional styling for the hover state */
a:hover {
    background-color: #ff0000; /* Bright blue background color */
    color: white; /* White text color */
}

/* Styling the button */
button {
    padding: 5px 10px; /* Adding some space inside the button */
    border: none; /* Removing the border */
    background-color: #a3a3a3; /* light gray background color */
    cursor: pointer; /* Changing the cursor to a pointer */
    transition: all 0.3s ease; /* Adding a transition */
}

/* Conditional styling for the hover state */
button:hover {
    background-color: rgb(48, 46, 46); /* Red background color */
}
footer{background-color: #a3a3a3;}

p{font-size: x-large; background-color: #a3a3a3;}
h1{background-color: #a3a3a3;}
img{padding: 40px;}
